## Import Libraries

In [1]:
# Import Libraries
import requests
import pandas as pd
import json
from urllib.request import urlopen

pd.set_option("max_rows",100)

## Get Orders data from json file

In [2]:
# Loading as python object
with open('orders.json') as f:
    data_orders = json.load(f)

In [3]:
type(data_orders)

list

In [4]:
data_orders[0]

{'id': 8369263756632563,
 'customer': {'id': 47178,
  'name': 'William Doe',
  'email': 'william.doe@gmail.com'},
 'total_price': 79.39,
 'created_at': '2020-03-07T14:31:11Z',
 'line_items': [{'id': 610448,
   'product_id': 632910392,
   'product_sku': 'PPLEPUNCH20-05',
   'product_name': 'Purple Punch 2.0 Dried Flower',
   'price': 29.4},
  {'id': 997208,
   'product_id': 278266679,
   'product_sku': 'GPSTASH-01',
   'product_name': "Grandpa's Stash Dried Flower",
   'price': 49.99}]}

In [97]:
df_orders = pd.DataFrame(columns=['id','cust_id','total_price','created_at', 'line_item_id'])

for orders in data_orders:
    id = orders['id']
    cust_id = orders['customer']['id']
    total_price = orders['total_price']
    created_at = orders['created_at']
    for line_item in orders['line_items'] :
        line_item_id = line_item['id']
        #print(line_item_id,id,cust_id,total_price,created_at)
        orders = {'id':id,'cust_id':cust_id,'total_price':total_price,'created_at':created_at,'line_item_id':line_item_id}
        df_orders = df_orders.append(orders,ignore_index=True)
    #print(id,cust_id,total_price,created_at)

In [98]:
df_orders.tail()

                  id cust_id  total_price            created_at line_item_id
32  1104846479586545   94720        86.98  2020-02-22T21:44:05Z       759658
33  2212383088430312   59933       142.96  2020-01-22T21:26:52Z       997208
34  2212383088430312   59933       142.96  2020-01-22T21:26:52Z       759658
35  2212383088430312   59933       142.96  2020-01-22T21:26:52Z       317808
36  2212383088430312   59933       142.96  2020-01-22T21:26:52Z       771854

## Get Customers Data

In [8]:
# Create Customers dataframe from orders
df_cust = pd.DataFrame(columns=['cust_id','cust_name','cust_email'])

for customer in data_orders:
    cust_id = customer['customer']['id']
    cust_name = customer['customer']['name']
    cust_email = customer['customer']['email']
    #print(cust_id,cust_name,cust_email)
    customers = {'cust_id':cust_id,'cust_name':cust_name,'cust_email':cust_email}
    df_cust = df_cust.append(customers,ignore_index=True)
    #print(id,cust_id,total_price,created_at)

In [9]:
df_cust.head()

  cust_id     cust_name              cust_email
0   47178   William Doe   william.doe@gmail.com
1   94720  Emile Tumson  emile.tumson@gmail.com
2   59933   Ethan Jones   ethan.jones@gmail.com
3   23955  Daniel Smith  daniel.smith@gmail.com
4   59933   Ethan Jones   ethan.jones@gmail.com

## Get Line Items Data

In [10]:
# Create Line Items dataframe from orders
df_line_items = pd.DataFrame(columns=['line_item_id','product_id','product_sku','product_name','product_price'])

for orders in data_orders:
    for line_item in orders['line_items'] :
        line_item_id = line_item['id']
        product_id = line_item['product_id']
        product_sku = line_item['product_sku']
        product_name = line_item['product_name']
        product_price = line_item['price']
        #print(line_item_id,product_id,product_sku,product_name,product_price)
        line_items = {'line_item_id':line_item_id,'product_id':product_id,'product_sku':product_sku,'product_name':product_name,'product_price':product_price}
        df_line_items = df_line_items.append(line_items,ignore_index=True)
    #print(id,cust_id,total_price,created_at)

In [11]:
df_line_items.tail()

,line_item_id,product_id,product_sku,product_name,product_price
32,759658,573794972,SAGENSOUR-01,Sage N Sour Dried Flower,36.99
33,997208,278266679,GPSTASH-01,Grandpa's Stash Dried Flower,49.99
34,759658,573794972,SAGENSOUR-01,Sage N Sour Dried Flower,36.99
35,317808,477365777,GOGPR-07,Glueberry OG Pre-Rolls,5.99
36,771854,694165761,HYBTINC-03,Hybrid Blend THC Tincture,49.99

## Get exchange rates

In [12]:
with urlopen("https://api.exchangeratesapi.io/history?start_at=2019-12-01&end_at=2020-04-01&symbols=CAD&base=USD") as response:
    source = response.read()
data_exc = json.loads(source)

In [13]:
data_exc

{'rates': {'2020-01-07': {'CAD': 1.2996777658},
  '2020-02-11': {'CAD': 1.3296945234},
  '2019-12-03': {'CAD': 1.3320386596},
  '2019-12-13': {'CAD': 1.3166278862},
  '2019-12-18': {'CAD': 1.3156995052},
  '2019-12-12': {'CAD': 1.3177695968},
  '2019-12-20': {'CAD': 1.3137784987},
  '2019-12-10': {'CAD': 1.3240046944},
  '2020-03-09': {'CAD': 1.3628666201},
  '2020-01-03': {'CAD': 1.2981968243},
  '2020-02-19': {'CAD': 1.3223148148},
  '2020-01-14': {'CAD': 1.3070625281},
  '2020-01-10': {'CAD': 1.3071860067},
  '2020-03-10': {'CAD': 1.3677787533},
  '2020-03-18': {'CAD': 1.4403694897},
  '2020-02-05': {'CAD': 1.3284949651},
  '2020-02-20': {'CAD': 1.3256719184},
  '2020-03-26': {'CAD': 1.4084327475},
  '2020-03-17': {'CAD': 1.4124931706},
  '2019-12-16': {'CAD': 1.3117710389},
  '2019-12-24': {'CAD': 1.3160649819},
  '2020-03-30': {'CAD': 1.4161682074},
  '2019-12-09': {'CAD': 1.3250564334},
  '2020-02-25': {'CAD': 1.3286900369},
  '2019-12-30': {'CAD': 1.3067298239},
  '2020-01-22': {'CAD': 1.3045634921},
  '2020-03-20': {'CAD': 1.4249556365},
  '2019-12-19': {'CAD': 1.312224521},
  '2020-02-24': {'CAD': 1.3285265299},
  '2020-03-25': {'CAD': 1.4352082756},
  '2020-01-09': {'CAD': 1.3055805581},
  '2019-12-02': {'CAD': 1.3295835979},
  '2020-02-14': {'CAD': 1.3247555802},
  '2020-03-03': {'CAD': 1.3364216965},
  '2020-03-12': {'CAD': 1.38113879},
  '2020-02-12': {'CAD': 1.3256367968},
  '2019-12-06': {'CAD': 1.3176491797},
  '2020-02-07': {'CAD': 1.3313884584},
  '2020-03-05': {'CAD': 1.3427192277},
  '2019-12-23': {'CAD': 1.3162076749},
  '2019-12-05': {'CAD': 1.3169280692},
  '2020-02-10': {'CAD': 1.3313852616},
  '2020-02-04': {'CAD': 1.3279326575},
  '2020-01-23': {'CAD': 1.3162924894},
  '2020-01-20': {'CAD': 1.3069012179},
  '2020-03-31': {'CAD': 1.4254289887},
  '2020-02-27': {'CAD': 1.3349142649},
  '2020-03-11': {'CAD': 1.3742942837},
  '2020-03-16': {'CAD': 1.3927579098},
  '2020-01-08': {'CAD': 1.3018443545},
  '2020-02-03': {'CAD': 1.3236038316},
  '2020-01-28': {'CAD': 1.3190368015},
  '2020-02-06': {'CAD': 1.3278196855},
  '2020-01-21': {'CAD': 1.3056230319},
  '2020-03-23': {'CAD': 1.4383752203},
  '2020-02-21': {'CAD': 1.3258031664},
  '2020-03-02': {'CAD': 1.3358208955},
  '2020-02-13': {'CAD': 1.3256648569},
  '2020-01-31': {'CAD': 1.323470865},
  '2019-12-11': {'CAD': 1.3237923251},
  '2020-03-27': {'CAD': 1.4139564544},
  '2020-01-13': {'CAD': 1.304511954},
  '2020-01-15': {'CAD': 1.3072159397},
  '2020-01-27': {'CAD': 1.3187301587},
  '2020-04-01': {'CAD': 1.4265727871},
  '2020-03-06': {'CAD': 1.3420077629},
  '2020-01-30': {'CAD': 1.3216973434},
  '2020-02-28': {'CAD': 1.3443563815},
  '2020-01-24': {'CAD': 1.3131853194},
  '2020-01-17': {'CAD': 1.3051854519},
  '2020-01-06': {'CAD': 1.2975701269},
  '2020-02-26': {'CAD': 1.3304827586},
  '2020-02-18': {'CAD': 1.3262758876},
  '2020-03-24': {'CAD': 1.4494143687},
  '2020-01-29': {'CAD': 1.3176983911},
  '2020-03-19': {'CAD': 1.4464401444},
  '2020-03-13': {'CAD': 1.3858969741},
  '2019-12-27': {'CAD': 1.3083475298},
  '2020-01-16': {'CAD': 1.3035186677},
  '2020-01-02': {'CAD': 1.299830251},
  '2020-03-04': {'CAD': 1.3359101124},
  '2019-12-31': {'CAD': 1.299448104},
  '2019-12-04': {'CAD': 1.3272267846},
  '2019-12-17': {'CAD': 1.3160723885},
  '2020-02-17': {'CAD': 1.3229349331}},
 'start_at': '2019-12-01',
 'base': 'USD',
 'end_at': '2020-04-01'}

In [35]:
type(data_exc)

dict

In [36]:
df = pd.DataFrame.from_dict(data_exc)

In [37]:
df.drop(columns= ['start_at','end_at'], inplace = True)

In [38]:
df.head()

                            rates base
2019-12-02  {'CAD': 1.3295835979}  USD
2019-12-03  {'CAD': 1.3320386596}  USD
2019-12-04  {'CAD': 1.3272267846}  USD
2019-12-05  {'CAD': 1.3169280692}  USD
2019-12-06  {'CAD': 1.3176491797}  USD

In [39]:
df['rates'] =df['rates'].astype('str')
df['rates'] = df['rates'].apply(lambda x : x.split(":")[1])
df['rates'] = df['rates'].apply(lambda x :x.replace('}',''))
df.head()

                    rates base
2019-12-02   1.3295835979  USD
2019-12-03   1.3320386596  USD
2019-12-04   1.3272267846  USD
2019-12-05   1.3169280692  USD
2019-12-06   1.3176491797  USD

In [40]:
type(df['rates'])

pandas.core.series.Series

In [58]:
df['date'] = df.index
#df.set_index('date', inplace= True)

In [59]:
df.head()

                    rates base        date
2019-12-02   1.3295835979  USD  2019-12-02
2019-12-03   1.3320386596  USD  2019-12-03
2019-12-04   1.3272267846  USD  2019-12-04
2019-12-05   1.3169280692  USD  2019-12-05
2019-12-06   1.3176491797  USD  2019-12-06

In [60]:
df.iloc[0]

rates     1.3295835979
base               USD
date        2019-12-02
Name: 2019-12-02, dtype: object

In [61]:
df.sort_index(ascending = True,inplace = True)

In [62]:

df.head()

                    rates base        date
2019-12-02   1.3295835979  USD  2019-12-02
2019-12-03   1.3320386596  USD  2019-12-03
2019-12-04   1.3272267846  USD  2019-12-04
2019-12-05   1.3169280692  USD  2019-12-05
2019-12-06   1.3176491797  USD  2019-12-06

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 2019-12-02 to 2020-04-01
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rates   85 non-null     object
 1   base    85 non-null     object
 2   date    85 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB

In [64]:
# Converting date to date type
df['date'] = pd.to_datetime(df['date'], format = '%Y-%m-%d')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 85 entries, 2019-12-02 to 2020-04-01
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   rates   85 non-null     object
 1   base    85 non-null     object
 2   date    85 non-null     datetime64[ns]
dtypes: datetime64[ns](1), object(2)
memory usage: 1.7+ KB

In [70]:
df.reset_index(drop=True, inplace = True)
df.head()

           rates base       date exchanged_to
0   1.3295835979  USD 2019-12-02          CAD
1   1.3320386596  USD 2019-12-03          CAD
2   1.3272267846  USD 2019-12-04          CAD
3   1.3169280692  USD 2019-12-05          CAD
4   1.3176491797  USD 2019-12-06          CAD

In [73]:
df['exchanged_to'] = "CAD"
df['day']= df['date'].apply( lambda x: x.day_name())

In [74]:
df.head()

           rates base       date exchanged_to        day
0   1.3295835979  USD 2019-12-02          CAD     Monday
1   1.3320386596  USD 2019-12-03          CAD    Tuesday
2   1.3272267846  USD 2019-12-04          CAD  Wednesday
3   1.3169280692  USD 2019-12-05          CAD   Thursday
4   1.3176491797  USD 2019-12-06          CAD     Friday

In [75]:
df['day'].value_counts()

Monday       18
Tuesday      18
Friday       17
Thursday     16
Wednesday    16
Name: day, dtype: int64

Exchange Rates for Saturday and Sunday are not present as financial working days do not include weekends

## Join exchange rates to orders

In [100]:
# Convert created_at to date
df_orders.tail()

                  id cust_id  total_price            created_at line_item_id
32  1104846479586545   94720        86.98  2020-02-22T21:44:05Z       759658
33  2212383088430312   59933       142.96  2020-01-22T21:26:52Z       997208
34  2212383088430312   59933       142.96  2020-01-22T21:26:52Z       759658
35  2212383088430312   59933       142.96  2020-01-22T21:26:52Z       317808
36  2212383088430312   59933       142.96  2020-01-22T21:26:52Z       771854

In [101]:
df_orders['created_at'] = df_orders['created_at'].apply(lambda x : x.replace('T'," ").replace('Z',""))

In [102]:
df_orders.tail()

                  id cust_id  total_price           created_at line_item_id
32  1104846479586545   94720        86.98  2020-02-22 21:44:05       759658
33  2212383088430312   59933       142.96  2020-01-22 21:26:52       997208
34  2212383088430312   59933       142.96  2020-01-22 21:26:52       759658
35  2212383088430312   59933       142.96  2020-01-22 21:26:52       317808
36  2212383088430312   59933       142.96  2020-01-22 21:26:52       771854

In [103]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            37 non-null     object
 1   cust_id       37 non-null     object
 2   total_price   37 non-null     float64
 3   created_at    37 non-null     object
 4   line_item_id  37 non-null     object
dtypes: float64(1), object(4)
memory usage: 952.0+ bytes

In [104]:
# Convert to datetime
df_orders['created_at'] = pd.to_datetime(df_orders['created_at'], format = '%Y-%m-%d %H')

In [105]:
df_orders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            37 non-null     object
 1   cust_id       37 non-null     object
 2   total_price   37 non-null     float64
 3   created_at    37 non-null     datetime64[ns]
 4   line_item_id  37 non-null     object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 1.1+ KB

In [106]:
df_orders['orders_day'] = df_orders['created_at'].apply( lambda x: x.day_name())
df_orders['orders_date'] = df_orders['created_at'].apply( lambda x: x.date())

In [107]:
df_orders.tail()

,id,cust_id,total_price,created_at,line_item_id,orders_day,orders_date
32,1104846479586545,94720,86.98,2020-02-22 21:44:05,759658,Saturday,2020-02-22
33,2212383088430312,59933,142.96,2020-01-22 21:26:52,997208,Wednesday,2020-01-22
34,2212383088430312,59933,142.96,2020-01-22 21:26:52,759658,Wednesday,2020-01-22
35,2212383088430312,59933,142.96,2020-01-22 21:26:52,317808,Wednesday,2020-01-22
36,2212383088430312,59933,142.96,2020-01-22 21:26:52,771854,Wednesday,2020-01-22

In [108]:
df_orders['orders_day'].value_counts()

Wednesday    12
Sunday        9
Thursday      5
Saturday      5
Tuesday       4
Friday        2
Name: orders_day, dtype: int64

As Orders are placed on weekends also, but exchange rates do not change on weekends; so we will take that Friday's exchange rate for weekend orders

## Save the csv files

In [112]:
df_orders.to_csv("orders.csv", index = False)
df_cust.to_csv("customers.csv",index = False)
df_line_items.to_csv("line_items.csv",index = False)
df.to_csv("exchange_rates.csv",index = False)